@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blinkTextCursor {
    from { border-right-color: #40ac70; }
    to { border-right-color: transparent; }
  }
  
  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid #40ac70; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: normal; 
    animation: 
      typewriter 4s steps(30) 1s 1 normal both,
      blinkTextCursor 500ms steps(30) infinite normal;
  }
  